body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  margin-top: 60px;
  display: grid;
  justify-items: center;
  gap: 60px;
}
h3,
p,
h1 {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  display: block;
  /* tinha faltADO O display block */
}
footer {
  display: grid;
  justify-items: center;
}

.cabeçario {
  text-align: center;
}
.menu a {
  background-color: white;
  border: solid white;
  border-radius: 4px;
  padding: 21px 40px;
  margin: 15px 10px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  /* função nova */
  font-weight: 600;
  /* função nova */
}
.menu a:hover{
  border: solid #900;
}
.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
/* sempre indicar DIV depois a TAG */
.conteudo {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.informações {
  background-color: white;
  font-size: 1.25rem;
  justify-items: end;
  text-align: right;
  gap: 20px;
  place-content: center;
  display: grid;
  padding: 45px;
  position: relative;
}
.informações h1::after{
  content: "";
  border-top: 4px solid #ee2211;
  padding: 30px;
  display: inline-block;
  position:absolute;
  top: 30px;
  right: -30px;
}
/*  position: absolute;
  top: 75px;
  right: 515px;
} */

.botão:hover{
  background-color: #900;
}
.botão {
  color: white;
  font-size: 1rem;
  padding: 15px 30px;
  border: none;
  background-color: #ee2211;
  border-color: #ee2211;
  border-radius: 3px;
}
.vant {
  background-image: url("/img/onda.svg");
  font-size: 3.75rem;
  font-weight: 700;
  color: gray;
  display: grid;
  text-align: right;
  margin: 40px;
  place-content: center;

}
.vantagens{
  background-color: white;
  display: grid;
  font-size: 1.25rem;
  padding: 20px 20px 0px 20px;
  
}
.vantagens div:hover{
  border-left: solid #900;
}
.vantagens div{
  padding: 20px
}
.vantagens div:nth-child(odd){
background: #f7f7f7;
}
.espe-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  row-gap: 0px;
  margin-bottom: 40px;
}
.espe-itens p {
  grid-column: 2;
}
.rodape {
  font-size: 1.25rem;
  width: 100%;
  background-color: white;
  padding: 30px 0px;
  text-align: center;
}
@media (max-width: 400px){
  .conteudo{
    display: grid;
    grid-template-columns: 1fr;
  }
  @media (max-width: 400px){
    .menu{
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 4rem;
      margin: 0px;
      padding: 0px;
       }
  }
  @media (max-width: 400px){
    .descrição{
      max-width: 40ch;
    }
  }
  @media (max-width: 400px){
    .vant{
      max-width: 10ch;

    }
  }
  @media (max-width: 400px){
    .conteudo {
      width: 100%;
    }
  }
  @media (max-width: 400px){
    .informações h1 {
      display: none;
    }
  